@model WoodPlanning.Models.IndexViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* step 7.1 *@

<h1>Clients</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                
                @* displays heading for column id *@
                @Html.DisplayNameFor(model=>model.Clients.Last().UserName)
            </th>
            <th>
                @* displays heading for column name *@
                @Html.DisplayNameFor(model=>model.Clients.Last().FirstName)
            </th>
            <th>
                @* displays heading for column name *@
                @Html.DisplayNameFor(model=>model.Clients.Last().LastName)
            </th>
        </tr>
    </thead>
    <tbody>
        

        @foreach (var item in Model.Clients)
        {
            <tr>
                <td>@Html.DisplayFor(modelitem=>item.UserName)</td>
                <td>@Html.DisplayFor(modelitem=>item.FirstName)</td>
                <td>
                    @Html.DisplayFor(modelitem=>item.LastName)
                    
                </td>
                <td>
                    <a asp-action="Details"asp-route-id="@item.Id">Details</a>
                </td>
                <td>
                    <a asp-action="Update"asp-route-id="@item.Id">Update</a>
                </td>
                <td>
                    <a asp-action="Delete"asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create">Add Client</a>
